.main__container__description__presentation__tags {
	display: flex;
	flex-direction: row;
	justify-content: flex-start; // Utiliser 'flex-start' pour aligner à gauche
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;

	&__each {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 20px;
		font-size: 12px;
		font-weight: 700;
		color: white;
		border-radius: 7px;
		background-color: #ff6060;
		padding: 0 10px;
	}
}

@media screen and (max-width: 425px) {
}
